<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TaskMaster</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.TaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActivateUserServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.ActivateUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkTaskCompleteServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.MarkTaskCompleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAllTasksServlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.DeleteAllTasksServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register2Servlet</servlet-name>
    <servlet-class>com.group7.taskmaster.servlets.Register2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register2Servlet</servlet-name>
    <url-pattern>/Register2Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAllTasksServlet</servlet-name>
    <url-pattern>/DeleteAllTasksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkTaskCompleteServlet</servlet-name>
    <url-pattern>/MarkTaskCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActivateUserServlet</servlet-name>
    <url-pattern>/ActivateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3309?user=root/logs</param-value>
  </context-param>
</web-app>